<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link  rel="stylesheet" href="css/blocks.css" >
        <link rel="stylesheet" href="css/style.css"  >
        <title>Design of the Week Template 14 - Pinegrow Web Editor</title>
    </head>
    <body class="text-muted">
        <header>
            <nav class="bg-white navbar navbar-expand-lg navbar-light shadow-none"> 
                <div class="container"> <a class="align-items-center d-inline-flex fw-bold h4 mb-0 navbar-brand text-uppercase" href="#"> <span>BATAILLE NAVALE</span></a> 
                    <button class="navbar-toggler rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown-2" aria-controls="navbarNavDropdown-2" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> 
                    </button>                     
                </div>                 
            </nav>
        </header>
        <main>
            <section class="bg-light pb-5 position-relative pt-5" style="height: 434px;">
                <div class="editsalon">
                    <form role="form"> 
                        <div class="mb-3">Donner nom au salon<br/>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" aria-describedby="emailHelp"/> 
                        </div>                         
                        <div class="mb-3">Lien invitation :&nbsp;<br/>
                            <p>Paragraph</p>
                        </div>                         
                        <div class="mb-3"> 
</div>                         
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleInputCheck1"/>Privé
                        </div>                         
                        <button type="submit" class="btn btn-primary">Créer Salon</button>                         
                    </form><br/>
                </div>
            </section>
            <div class="container">
                <div class="col-lg-7 mx-lg-auto">
                    <div class="align-items-center row">
                        <div class="col">
                            <hr class="mb-0 mt-0 text-primary"/> 
                        </div>
                        <div class="col-auto">
                            <svg viewBox="0 0 24 24" fill="currentColor" width="2.5rem" height="2.5rem" class="d-block text-success">
                                <path d="M7.05 14.121L4.93 16.243l2.828 2.828L19.071 7.757 16.243 4.93 14.12 7.05l1.415 1.414L14.12 9.88l-1.414-1.415-1.414 1.415 1.414 1.414-1.414 1.414-1.414-1.414-1.415 1.414 1.415 1.414-1.415 1.415L7.05 14.12zm9.9-11.313l4.242 4.242a1 1 0 0 1 0 1.414L8.464 21.192a1 1 0 0 1-1.414 0L2.808 16.95a1 1 0 0 1 0-1.414L15.536 2.808a1 1 0 0 1 1.414 0zM14.12 18.363l1.415-1.414 2.242 2.243h1.414v-1.414l-2.242-2.243 1.414-1.414L21 16.757V21h-4.242l-2.637-2.637zM5.636 9.878L2.807 7.05a1 1 0 0 1 0-1.415l2.829-2.828a1 1 0 0 1 1.414 0L9.88 5.635 8.464 7.05 6.343 4.928 4.929 6.343l2.121 2.12-1.414 1.415z"/>
                            </svg>                             
                        </div>
                        <div class="col">
                            <hr class="mb-0 mt-0 text-primary"/> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-7 mx-lg-auto">
</div>
            </div>             
            <section class="pb-5 pt-5">                  
</section>             
            <footer class="bg-dark pb-5 pt-5 text-white-50"> 
                <div class="container"> 
                    <hr class="border-secondary mb-5 mt-5"/>
                    <div class="align-items-center gy-3 row"> 
                        <div class="col-lg-3 col-sm-6 col-xl-4"> <a class="d-inline-flex fw-bold h2 lh-1 link-primary mb-0 text-decoration-none text-uppercase" href="#"> <span class="text-success">BATAILLE NAVALE</span></a> 
                        </div>
                        <div class="col-lg-auto col-sm-6 order-lg-last"> 
</div>                         
                        <div class="col-md col-sm-6"> 
</div>                         
                    </div>                     
                </div>                 
            </footer>
        </main>
        <script src="/js/server.js"></script>
    </body>
</html>
